.idea/

.project
.factorypath
.classpath
.settings/

target/
.apt_generated/

war/WEB-INF/appengine-generated/
war/WEB-INF/classes
war/WEB-INF/lib/appengine-*

eclipse.lib/
www-test/

pom.xml.releaseBackup
release.properties

